@import "./global.css";
:root{
    /*colors*/--header-columns: #07096b;--body-odd: #0b0224;--body-even: #020220;
    /*columns*/--height-letters: 24px;--height-cols: 60px;--height-body: 50px;
    /*letters*/--fs-textarea: 12px;--fs-letters: 12px;--fs-columns: 15px;
    /*sizes*/--height-thead: calc(var(--height-cols) + var(--height-letters))
}

.toggle.true .fa-solid.fa-gear.x{top: -30px;}
.toggle.true i.fa-xmark.v{top: 0;}

body{padding: 4px;}h1{font-size: 18px;left: 14px;}section{height: calc(100% - 27px)}
#configurations-table{top: 0px;left: -450px;width: 450px;height: 400px; background: var(--white);z-index: 80;transition: left .5s cubic-bezier(0.15, 0.96, 0.84, 0.95)}
#configurations-table.open{left: 0;}
#div-config-table{top: 3px;left: 449px;background: var(--white);z-index: 80;
    border-top-right-radius: 12px;border-bottom-right-radius: 12px;
}
#configurations-table span, #configurations-table label {color: var(--blue-dark);}
#configurations-table button{margin-left: 1px;}
#configurations-table button i{color: var(--blue-dark);}
table{
    display: block;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    border-color: var(--white);
    background-color: var(--blue-dark)
    }
thead{position: absolute;background-color: transparent;z-index: 20}
tbody{
    position: absolute;
    top: var(--height-thead);
    z-index: 20;
    height: calc(100% - var(--height-thead))
}
tr{position: relative;z-index: 19;transition: box-shadow .5s ease-out}
td{overflow: hidden;pointer-events: none}
tr.columns td{padding: 4px;}
tbody tr td{height: var(--height-body)}
tr, td{display: flex;}

tr.focus{box-shadow: 0px 0px 9px 3px var(--blue-mob);z-index: 20;}

tr.delete{box-shadow: 0px 0px 9px 3px red;z-index: 20;}tr.delete td{border-color: red;}
tr.confirm{box-shadow: 0px 0px 9px 3px green;z-index: 20;}tr.confirm td{border-color: green}

tr.active{border-color: var(--blue-mob);box-shadow: 0 0 7px 1px var(--blue-mob);z-index: 20;}
tr.active td{pointer-events: all;border: 1px solid var(--blue-mob)}

.letters td{height: var(--height-letters);font-size: var(--fs-letters);line-height: var(--height-letters);
    justify-content: center;opacity: .8}
.columns td{height: var(--height-cols);line-height: var(--fs-columns);font-size: var(--fs-columns);
    justify-content: center;align-items: center;font-weight: bold;
    background-color: var(--header-columns)}
.even td{background-color: var(--body-even)}

._{padding-right: 3px;background: transparent!important;width: var(--_);align-items: center!important;
    justify-content: flex-end!important;opacity: .8!important;font-size: var(--fs-textarea)!important;}
.A{width: var(--A)}
.B{width: var(--B)}
.C{width: var(--C)}
.D{width: var(--D)}
.E{width: var(--E)}
.F{width: var(--F)}
.G{width: var(--G)}
.H{width: var(--H)}
.I{width: var(--I)}
.J{width: var(--J)}.J textarea{padding: 4px}
.K{width: var(--K)}

textarea{width: 100%;height: 100%;
    resize: none;border: none;outline: none;background: transparent;
    color: var(--white);
    font-size: var(--fs-textarea);
}
.odd td,.odd td textarea::-webkit-scrollbar-track{background-color: var(--body-odd)}

.A textarea,
.C textarea,
.B textarea,
.E textarea,
.D textarea,
.G textarea,
.F textarea,
.I textarea,
.H textarea,
.K textarea{text-align: center;padding-top: calc(var(--height-body) / 2 - var(--fs-letters) + 1px);}


tr td{}


#actions-row{left: 230px;top: -50px;transition: top .5s ease-in-out}
#actions-row.focus{top: -21px;}
#actions-row.confirm{top: 5px;}

#update-sheet button i{rotate: 0deg;transition: rotate .5s}
#update-sheet button.load i{rotate: 360deg}

/*

table tr td{overflow: hidden;}

thead tr.letters td{
    font-size: 13px;
    font-weight: 300;
    opacity: .9;
}

thead tr.columns td{
    font-size: 15px;
    line-height: 15px;
}

table tr{
    display: flex;
    flex-direction: row;
}


td{display: flex;overflow: hidden;}
thead td{height: var(--height-header);}
tbody td{height: var(--height-body);}

._{width: var(--_)}
.A{width: var(--A)}
.B{width: var(--B)}
.C{width: var(--C)}
.D{width: var(--D)}
.E{width: var(--E)}
.F{width: var(--F)}
.G{width: var(--G)}
.H{width: var(--H)}
.I{width: var(--I)}
.J{width: var(--J)}
.K{width: var(--K)}

/* thead ._,
thead .A,
thead .B,
thead .C,
thead .D,
thead .E,
thead .F,
thead .G,
thead .H,
thead .I,
thead .J,
thead .K{height: var(--height-header);} */


/* tbody ._,
tbody .A,
tbody .B,
tbody .C,
tbody .D,
tbody .E,
tbody .F,
tbody .G,
tbody .H,
tbody .I,
tbody .J,
tbody .K{height: var(--height-body);} */
