@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --c-ice: #fff;
    --c-white: #e2e2e2;
    --c-white-dark: #bdbdbd;
    --c-black: #0f1730;
    --c-black-white: #3B3B8A;
    --c-green: #1aac24;
    --c-red: #ce0b0b;
    --c-gray: #dbdbdb;
    --c-orange: #ecb47b;

    --c-disabled: #6f5a5a;
    --c-purple-dark: #200a45;
}
@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(1px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-1px, 0, 0); }
    40%, 60% { transform: translate3d(1px, 0, 0); }
}
::-webkit-scrollbar{width: 8px;display: block;height: 10px;}
::-webkit-scrollbar-thumb{position: fixed;border-radius: 4px;background-color: var(--c-black)}
::-webkit-scrollbar-track{background-color: transparent}

*{margin: 0;padding: 0;box-sizing: border-box;font-family: "Poppins", sans-serif}
body{width: 100vw;height: 100vh;background: var(--c-white);color: var(--c-black);overflow: hidden;}
header{
    position: relative;
    top: 0;
    z-index: 99;
    width: 40px;
    height: calc(100%);
    padding: 5px;
    gap: 20px;
    border-right: 1px solid var(--c-black-white);
    box-shadow: 0 0 6px 1px var(--c-black);
    background: var(--c-gray);
    & #logo-mob{width: 32px;height: 17px;margin: 10px 0;user-select: none;}
    & h1{display: none}
    & button{
        position: relative; width: 25px;height: 25px;
        &#toggle-login{
            width: 30px;
            height: 30px;
            padding: 2px;
            margin-left: 9px;
        }
        &.new-messages{
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }
    }
    form#login{
        position: absolute;
        z-index: 88;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: 1px solid var(--c-black-white);
        border-bottom: 1px solid var(--c-black-white);
        border-right: 1px solid var(--c-black-white);
        background: var(--c-gray);
        width: 0;
        height: 34px;
        left: 39px;
        top: 192px;
        transition: width .5s cubic-bezier(0.63, 0.47, 0.64, 1.07);
        
        &.error i.fa-user,&.error i.fa-lock{color: var(--c-red)}
        &.open{width:  290px}
        & button i{font-size: 20px}
        & label{
            height: 21px;
            padding: 0 5px;
            & input{
                width: 80px;height: 100%;padding-top: 3px;
                outline: none;
            }
            & i{
                color: var(--c-black-white);
            }
            & input::selection{
                background-color: var(--c-black-white);
            }
            & input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0px 1000px var(--c-gray) inset;
                border: none;
            }
        }
    }
}

section{
    position: absolute;
    top: 0;
    left: 38px;
    width: calc(100% - 38px);
    height: calc(100% - 20px);
    z-index: 80;
    padding: 5px;

    #overlay{
        position: absolute;
        z-index: 99;
        width: 100%;
        height: 100%;
        background-color: var(--c-white);
        color: var(--c-white);
        user-select: none;
        transition: width .5s ease-in-out;
        &.w0{width: 0}
    }
    .container{
        position: absolute;
        left: -510px;
        width: 500px;
        padding: 0 5px;
        top: 5px;
        height: calc(100% - 10px);
        background-color: var(--c-ice);
        color: var(--c-black);
        border: 1px solid var(--c-black);
        transition: left .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        z-index: 99;
        &.open{left: 0px}
        & .header{
            height: 40px;
            border-bottom: 1px solid var(--c-black-white);
        }
    }
    & #notes{
        & .header {
            & .buttons{
                gap: 20px;
            }
        }
        & textarea{
            resize: none;
            padding: 5px;
            height: calc(100% - 40px);
        }
    }
    & #chat{
        & #content-chat{
            overflow-x: hidden;
            height: calc(100% - 110px);
            border-bottom: 1px solid var(--c-black-white);
    
            & .date{
                padding: 4px 2px;
                border-radius: 3px;
                background-color: var(--c-white-dark);
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: 600;
            }
            & .message{
                padding: 5px 0;
                margin: 5px 0;
                font-size: 14px;
                & .hour{margin-left: 15px}
                & .hour, & .name{font-weight: 500}

                & button i{font-size: 18px}
                & pre{
                    white-space: pre-wrap;
                    padding: 0 20px;
                    font-size: 13px;
                }
            }
        }
        & .footer{
            position: absolute;
            bottom: 5px;
            height: 60px;
            width: calc(100% - 10px);
            border: 1px solid var(--c-black-white);
    
            & textarea {
                height: 50px;
                margin: 0 5px;
                font-size: 13px;
                line-height: 14px;
                width: 450px;
                resize: none;
                color: var(--c-black)
            }
        }
    }

    & #div_table{
        height: 100%;
        & .header{
            margin-left: 5px;
            & #actions-table{
                position: relative;
                left: 5px;
            }
        }
        & #add-row{padding-left: 5px;padding-left: 5px}
        & table {
            /* border: 1px solid var(--c-black-white); */
            height: calc(100% - 25px);
            display: block;
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
            border: 1px solid var(--c-black);
            & thead, & tbody{
                position: absolute;
                & tr {
                    & td,& th{
                        pointer-events: none;
                        display: flex;align-items: center;justify-content: center;
                        &._{width: var(--_);font-size: 11px}
                        &.A{width: var(--A)}
                        &.B{width: var(--B)}
                        &.C{width: var(--C)}
                        &.D{width: var(--D)}
                        &.E{width: var(--E)}
                        &.F{width: var(--F)}
                        &.G{width: var(--G)}
                        &.H{width: var(--H)}
                        &.I{width: var(--I)}
                        &.J{width: var(--J);& textarea{padding: 4px}}
                        &.K{width: var(--K)}
                        &.A, &.B, &.C, &.D, &.E, &.F, &.G, &.H, &.I, &.J, &.K{
                            & textarea{
                                transition: box-shadow .5s cubic-bezier(1, 2.16, 0.71, 1.01), border-radius .5s ease-out;
                                &:focus{
                                    box-shadow: 0 0 15px -3px var(--c-black-white);
                                    border-radius: 7px;
                                }
                            }
                        }
                        &.A, &.C, &.B, &.E, &.D, &.G, &.F, &.I, &.H, &.K {
                            textarea{
                                text-align: center;
                                align-content: center;
                                text-wrap: nowrap;
                                line-height: 43px;
                            }
                        }
                    }
                }
            }
            & thead{
                border-bottom: 1px solid var(--c-black);
                border-right: 1px solid var(--c-black);
                color: var(--c-black);
                z-index: 30;
                & .letters, & .columns{
                    position: relative;
                    background-color: var(--c-white-dark);
                    & .A, & .B, & .C, & .D, & .E, & .F, & .G, & .H, & .I, & .J, & .K{
                        border-left: 1px solid var(--c-black);
                    }
                }
                & tr.letters{
                    & td{
                        position: relative;
                        height: 20px;font-size: 11px;border-bottom: 1px solid var(--c-black);
                        & .resize{
                            position: absolute;
                            right: -10px;
                            z-index: 80;
                            pointer-events: all;
                            & i{color: var(--c-black-white)}
                        }
                    }
                }
                & tr.columns th{
                    overflow: hidden;height: 50px;font-size: 14px;color: var(--c-black-white);
                    &.E{line-height: 13px;}
                }
            }
            & tbody{
                overflow-y: auto;
                scroll-behavior: smooth !important;
                top: 70px;
                height: calc(100% - 70px);
                & tr{
                    position: relative;
                    z-index: 9;
                    transition: border .5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                    box-shadow .5s cubic-bezier(1, 2.16, 0.71, 1.01),
                    height .5s cubic-bezier(0.165, 0.84, 0.44, 1);
                    &:hover{
                        z-index: 10;
                        box-shadow: 0 0 15px -7px var(--c-black-white);
                    }
                    &.editing{
                        background-color: var(--c-white);
                        z-index: 12;
                        box-shadow: 0 0 3px 1px var(--c-black-white);
                        & td{
                            pointer-events: all;
                            & textarea{
                                opacity: 1;
                            }
                        }
                    }
                    &.delete{
                        box-shadow: 0 0 1px 1px var(--c-red);
                        & td, & td textarea{
                            color: var(--c-red);
                            pointer-events: none;
                        }
                    }
                    & td{
                        z-index: 19;
                        height: 45px;
                        & textarea{
                            width: 100%;height: 100%;
                            overflow-x: hidden;
                            resize: none;
                            font-size: 12px;
                            opacity: .7;
                            transition: box-shadow .5s cubic-bezier(1, 2.16, 0.71, 1.01),
                                        opacity .5s cubic-bezier(0.19, 1, 0.22, 1);
                        }
                    }
                }
            }
        }
    }
    
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
}

input, textarea{background: transparent;border: none;outline: none;}
input{
    &.w0{
        transition: width .5s cubic-bezier(0.86, 0, 0.07, 1);
    }
}
i.fa-user, i.fa-lock{font-size: 20px;}
button{
    background: transparent;border: none;outline: none;
    transition: opacity .5s cubic-bezier(0.19, 1, 0.22, 1);
    &:disabled{pointer-events: none;opacity: .7;}
    &:hover i{scale: 1.15;}
    &:active i{scale: 0.85;}
    & i{
        transition: scale .2s ease-out;
        font-size: 20px;
        pointer-events: none;
        &.fa-xmark{font-size: 24px}
        &.fa-ban,&.fa-xmark{color: var(--c-red)}
        &.fa-user-xmark,&.fa-user-check{font-size: 17px}
        &.fa-note-sticky,&.fa-save,&.fa-comment{color: var(--c-black-white)}
        &.fa-gear,&.fa-copy,&.fa-walkie-talkie{color: var(--c-purple-dark)}
        &.fa-trash-can{color: var(--c-red)}
        &.fa-paper-plane{color: var(--c-green)}
        &.fa-whatsapp{color: var(--c-green)}
    }
}

.scroll,.scroll-y{overflow-y: scroll}
.scroll,.scroll-x{overflow-x: scroll}
.overflow{
    &.hidden{overflow: hidden}
    &.x-hidden{overflow-x: hidden}
    &.y-hidden{overflow-y: hidden}
    &.x-scroll{overflow-x: scroll}
    &.y-scroll{overflow-y: scroll}
    &.x-visible{overflow-x: visible}
    &.y-visible{overflow-y: visible}

}
.w0{width: 0!important;overflow: hidden;&.open{width: auto}}
.h0{height: 0!important;overflow: hidden;&.open{height: auto}}
.wh100,.w100{width: 100%}.wh100,.h100{height: 100%}
.row{
    display: flex;
    flex-direction: row;
    align-items:center;
    &.gap5{gap: 5px}
    &.center{justify-content: center}
    &.between{justify-content: space-between;padding: 0 10px}
}
.col{
    display: flex;
    flex-direction: column;
    &.buttons.toggle{& .x{top: 4px}& .y{top: -30px}}
    &.buttons.toggle.active{& .x{top: 38px}& .y{top: 4px}}
    &.center{align-items: center;}
}
.col.buttons,.row.buttons{
    gap: 5px;
    &.toggle{
        position: relative;
        & .x,& .y{position: absolute;transition: top .5s cubic-bezier(0.445, 0.05, 0.55, 0.95),scale .2s ease-out}
        & .x{color: var(--c-red)}& .y{color: var(--c-green)}
    }
    &.surge button{scale: 0;transition: scale .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);}
    &.surge.open button{scale: 1}
}

/* Configurações */
table tbody tr {
    border-bottom: var(--border-tbody-rows);
    border-right: var(--border-tbody-rows);
    & td:not(:first-child) {
        border-left: var(--border-tbody-rows);
    }
}
/* Configurações */


#content-chat::-webkit-scrollbar-thumb{background-color: var(--c-purple-dark)}
.delete td textarea::-webkit-scrollbar-thumb{background-color: var(--c-red)}
