<div class="row header">
    <h4>Histórico de Eventos</h4>
    <div id="add-row" class="row buttons">
        <button id="button-add-row"><i class="fa-solid fa-plus"></i></button>
        <span id="number-row" class="w0 h100">nº{{ last_row }}</span>
    </div>
    <div id="actions-table" class="row buttons surge">
        <button id="submit-edit" disabled><i class="fa-solid fa-paper-plane"></i></button>
        <button id="cancel-edit"><i class="fa-solid fa-ban"></i></button>
        <button id="delete-row"><i class="fa-solid fa-trash-can"></i></button>
    </div>
</div>
<table>
    <thead>
        <tr class="row letters">
            <td class="_"><span class="letter">&nbsp;</span><button class="resize"><i class="fa-solid fa-arrows-left-right"></i></button></td>{% for letter in letters %}
            <td class="{{ letter }}"><span class="letter">{{ letter }}</span><button class="resize"><i class="fa-solid fa-arrows-left-right"></i></button></td>{% endfor %}
        </tr>
        <tr class="row columns">
            <th class="_">1</th>{% for column in columns %}
            <th class="{{ letters[loop.index - 1] }}">{{ column }}</th>{% endfor %}
        </tr>
    </thead>
    <tbody>{% for row in rows %}
        <tr row="{{ row[0] }}" class="row {{ loop.cycle('even', 'odd') }}{{ ' h0 last-row' if row[0] == last_row else '' }}">{% for cell in row %}
            <td class="{{ '_' if loop.first else letters[loop.index - 2] }}">
                {% if loop.first %}{{ cell }}{% else %}<textarea cell="{{ letters[loop.index - 2] }}{{ row[0] }}" spellcheck="false" autocomplete="off">{{ cell }}</textarea>{% endif %}
            </td>{% endfor %}
        </tr>{% endfor %}
    </tbody>
</table>