{% for group in grouped_messages %}
    <div class="row center w100">
        <span id="{{ group.date }}" class="date">{{ group.date }}</span>
    </div>
    {% for message in group.messages %}
    <div class="{{ 'my message' if message.name == name else 'message' }}">
        <div class="row between">
            <div>
                <span class="hour">{{ message.hour }}</span>
                <span class="name">{{ message.name }}:</span>
            </div>
            <div class="row buttons">
                <button class="copy"><i class="fa-solid fa-copy"></i></button>{% if message.name == name %}
                <button class="delete" row="{{ message.id }}"><i class="fa-solid fa-trash-can"></i></button>{% endif %}
            </div>
        </div>
        <pre class="text">{{ message.message }}</pre>
    </div>
    {% endfor %}
{% endfor %}