<style>
#wpp .content{
    font-size: 14px;

    .row{
        margin-top: 2px;height: 25px;transition: height .25s cubic-bezier(0.46, 0.1, 1, 0.37);
        &.h0{margin-top: 0 !important}
    }

    i{
        font-size: 15px;
        &.fa-trash-can{font-size: 14px}
    }

    .toggle.icons{
        position: relative;width: 15px;height: 15px;
        display: flex;align-items: center;justify-content: center;
        *{color: var(--c-red)}
        &.active *{color: var(--c-green)}
        .x, .y{
            position: absolute;
            font-size: 17px;
            transition: scale .5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        }
        .x, &.active .y{scale: 0}
        .y, &.active .x{scale: 1}
    }
    
    button{
        &.surge{
            scale: 0;
            transition: scale .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            &.active{scale: 1}
        }

        &.toggle{  
            &.active{
                ~ .surge{scale: 1}
                i.fa-arrows-rotate{
                    rotate: 180deg;
                    color: var(--c-green);
                }
            }

            ~ .surge{
                scale: 0;
                transform-origin: left;
                transition: scale .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            i.fa-arrows-rotate{
                color: var(--c-red);
                transition: .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
        }
    }

    .box{
        position: relative;
        padding: 2px 5px;
        gap: 2px;
        font-weight: 410;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    & label{
        .list{
            position: absolute;
            width: auto;
            height: auto;
            min-width: 100px;
            max-height: 300px;
            list-style: none;
            transform-origin: top;
            top: 100%;
            transform: translateX(25px);
            overflow-y: auto;
            z-index: 99;
            background-color: var(--c-ice);
    
            .item{
                position: relative;
                height: 0;
                top: 0;
                padding: 0 2px;
                transform-origin: top;
                transition: height .5s;
                overflow: hidden;
                font-weight: 400;
            }
        }

        &.open{
            .list .item{height: 21px}
            i.fa-chevron-down{rotate: 180deg}
        }

        &#div_directions .list{
            min-width: 22px !important;
            transform: translateX(-6px) !important;
        }
        
        i.fa-chevron-down{rotate: 0;transition: rotate .5s}

        &#div_event{
            &.revel ~ #div_minutes{scale: 1}
            & ~ #div_minutes{scale: 0;transition: scale .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);transform-origin: left;}
        }

        &.surge{
            scale: 0;
            transition: scale .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transform-origin: left;
            &.active{scale: 1}
        }
    }

    input[type="text"]{
        padding: 0 2px;
        border-bottom: 1px solid var(--c-black);
        &::placeholder{color: #0006}
        &.hour{width: 40px}
        &#who_informed{width: 100px}
        &#table{width: 80px}
        &#car, &#car_substitute{width: 38px}
        &#line{width: 44px}
        &#direction,&#minutes{width: 24px}
        &#event{width: 122px}
        &#motive{width: 270px}
        &#problem{width: 245px}
    }
    input[type="radio"]{
        ~ i.fa-check{color: var(--c-green);scale: 0;transition: scale .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);}
        &:checked{~ i.fa-check{scale: 1}}
    }

    #div_interrupted label pre,
    #div_interrupted.h0 ~ #div_continuation label pre,
    #div_interrupted ~ #div_continuation ~ #div_congestion label pre{
        transform: translate(4px, -1px)
    }
    
    #div_interrupted.h0 ~ #div_continuation.h0 ~ #div_congestion label pre,
    #div_interrupted.h0 ~ #div_continuation ~ #div_congestion label pre,
    #div_interrupted ~ #div_continuation.h0 ~ #div_congestion label pre,
    #div_interrupted ~ #div_continuation label pre{
        transform: translate(4px)
    }

    .hidden{
        visibility: hidden;
        transition: visibility .5s;
    }

}
</style>

<!-- Informado -->
<div class="row">
    <div id="div_informed" class="box">
        Informado?
        <div class="toggle icons">
            <i class="fa-solid fa-check x"></i>
            <i class="fa-solid fa-xmark y"></i>
        </div>
    </div>

    <label for="who_informed" id="div_who_informed" class="box">
        por quem?
        <input type="text" name="who_informed" id="who_informed" placeholder="Adryan">
        <i class="fa-solid fa-chevron-down"></i>
        <button class="surge" disabled>
            <i class="fa-regular fa-trash-can"></i>
        </button>
        <ul class="list">{% for emp in emps %}
            <li class="item">{{ emp }}</li>{% endfor %}
        </ul>
    </label>
</div>
<!-- Tabela / Carro / Trc de Carro -->
<div class="row">
    <label for="table" id="div_table" class="box">
        <pre>- </pre>
        <i class="fa-solid fa-clipboard"></i>
        <input type="text" name="table" id="table" placeholder="SD73/005" maxlength="9">
    </label>

    <label for="car" id="div_car" class="box">
        <i class="fa-solid fa-bus"></i>
        <input type="text" name="car" id="car" placeholder="6669" maxlength="4">
    </label>

    <button id="replace" class="toggle">
        <i class="fa-solid fa-arrows-rotate"></i>    
    </button>

    <label for="car_substitute" id="div_car_substitute" class="box surge">
        <i class="fa-solid fa-bus"></i>
        <input type="text" name="car_substitute" id="car_substitute" placeholder="6668" maxlength="4" disabled>
    </label>
</div>
<!-- Linha / Horário / Sentido -->
<div class="row">
    <label for="line" id="div_line" class="box">
        <pre>- </pre>
        <i class="fa-solid fa-route"></i>
        <input type="text" name="line" id="line" placeholder="SD73" maxlength="5">
    </label>

    <label for="hour" id="div_hour" class="box">
        <i class="fa-solid fa-clock"></i>
        <input type="text" name="hour" id="hour" class="hour" placeholder="00:00" maxlength="5">
    </label>

    <label for="direction" id="div_directions" class="box">
        <i class="fa-solid fa-compass"></i>
        <input type="text" name="direction" id="direction" placeholder="BC" maxlength="2">
        <ul class="list">{% for sentido in sentidos %}
            <li class="item">{{ sentido }}</li>{% endfor %}
        </ul>
        <i class="fa-solid fa-chevron-down"></i>
        <button class="surge" disabled>
            <i class="fa-regular fa-trash-can"></i>
        </button>
    </label>
</div>
<!-- Eventos / Minutos -->
<div class="row">
    <label for="event" id="div_event" class="box">
        <pre>- Viagem </pre>
        <input type="text" name="event" id="event" placeholder="foi...">
        <ul class="list">{% for event in events %}
            <li class="item">{{ event }}</li>{% endfor %}
        </ul>
        <i class="fa-solid fa-chevron-down"></i>
        <button class="surge" disabled>
            <i class="fa-regular fa-trash-can"></i>
        </button>
    </label>

    <label for="minutes" id="div_minutes" class="box surge">
        <i class="fa-solid fa-clock"></i>
        <input type="text" name="minutes" id="minutes" placeholder="00" disabled>
        <pre> minutos</pre>
    </label>
</div>
<!-- Interrompida / Continuou puxando viagem -->
<div id="div_interrupted" class="row h0">
    <label for="interrupted" class="box">
        <i class="fa-solid fa-location-dot"></i>
        <pre>N</pre>
        <input type="text" name="interrupted" id="interrupted" maxlength="100" placeholder="a Av. Assis Brasil" disabled>
    </label>

    <div id="div_has_continued" class="box">
        continuou?
        <div class="toggle icons">
            <i class="fa-solid fa-check x"></i>
            <i class="fa-solid fa-xmark y"></i>
        </div>
    </div>
</div>
<!-- Local que continuou puxando / Largando os passageiros -->
<div id="div_continuation" class="row h0">
    <label for="continuation" class="box">
        <i class="fa-solid fa-location-dot"></i>
        <pre>A partir d</pre>
        <input type="text" name="continuation" id="continuation" maxlength="100" placeholder="a Av. Assis Brasil" disabled>
    </label>

    <div id="dropping_passengers" class="box hidden">
        <i class="fa-solid fa-person-running"></i>
        <pre>largando os passageiros</pre>
        <div class="toggle icons">
            <i class="fa-solid fa-check x"></i>
            <i class="fa-solid fa-xmark y"></i>
        </div>
    </div>
</div>
<!-- Motivo -->
<div class="row">
    <label for="motive" id="div_motive" class="box">
        <pre>- Motivo: </pre>
        <input type="text" name="motive" id="motive" placeholder="Quebra?">
        <ul class="list">{% for motive in motives %}
            <li class="item">{{ motive }}</li>{% endfor %}
        </ul>
        <i class="fa-solid fa-chevron-down"></i>
        <button class="surge" disabled>
            <i class="fa-regular fa-trash-can"></i>
        </button>
    </label>
</div>
<!-- GPS com Problemas -->
<div class="col w100">
    <div id="div_gps" class="row h0">
        Qual?
        <label for="parou" class="box">
            <input type="radio" name="gps" id="parou" hidden checked disabled>
            Parou de Comunicar
            <i class="fa-solid fa-check"></i>
        </label>

        <label for="trancou" class="box">
            <input type="radio" name="gps" id="trancou" hidden disabled>
            Trancou no centro
            <i class="fa-solid fa-check"></i>
        </label>
    </div>

    <div id="div_hrs_gps" class="row h0">
        <label for="gps_hr_stop" class="box">
            <i class="fa-solid fa-clock"></i>
            <input type="text" name="gps_hr_stop" id="gps_hr_stop" class="hour" placeholder="00:00" maxlength="5" disabled>
            <pre>parou.</pre>
        </label>

        <label for="gps_hr_return" class="box">
            <i class="fa-solid fa-clock"></i>
            <input type="text" name="gps_hr_return" id="gps_hr_return" class="hour" placeholder="00:00" maxlength="5" disabled>
            <pre>voltou.</pre>
        </label>
    </div>
</div>
<!-- Congestionamento -->
<div id="div_congestion" class="row h0">
    <label for="congestion" class="box">
        <i class="fa-solid fa-location-dot"></i>
        <pre>Onde? n</pre>
        <input type="text" name="congestion" id="congestion" placeholder="a Av. Assis Brasil" disabled>
    </label>
</div>
<!-- Validador / Roleta -->
<div id="div_roullet_and_validator" class="row h0">
    Qual?
    <label for="validator" class="box">
        <input type="radio" name="roullet_and_validator" id="validator" hidden checked disabled>
        <pre>Validador</pre>
        <i class="fa-solid fa-check"></i>
    </label>

    <label for="roullet" class="box">
        <input type="radio" name="roullet_and_validator" id="roullet" hidden disabled>
        <pre>Roleta</pre>
        <i class="fa-solid fa-check"></i>
    </label>
</div>
<!-- Motorista / Cobrador -->
<div id="div_tripulation" class="row h0">
    Qual?
    <label for="motorista" class="box">
        <input type="radio" name="tripulation" id="motorista" hidden checked disabled>
        <pre>Motorista</pre>
        <i class="fa-solid fa-check"></i>
    </label>

    <label for="cobrador" class="box">
        <input type="radio" name="tripulation" id="cobrador" hidden disabled>
        <pre>Cobrador</pre>
        <i class="fa-solid fa-check"></i>
    </label>
</div>
<!-- Problema -->
<div id="row_problem" class="row h0">
    <label for="problem" id="div_problem" class="box">
        <pre>Problema: </pre>
        <input type="text" name="problem" id="problem" disabled>
        <ul class="list">{% for problem in problems %}
            <li class="item">{{ problem }}</li>{% endfor %}
        </ul>
        <i class="fa-solid fa-chevron-down"></i>
        <button class="surge" disabled>
            <i class="fa-regular fa-trash-can"></i>
        </button>
    </label>
</div>
<!-- Limpador / Espelho -->
<div id="div_limpador_espelho" class="row h0">
    Qual?
    <label for="limpador" class="box">
        <input type="radio" name="limpador_espelho" id="limpador" hidden checked disabled>
        <pre>Limpador</pre>
        <i class="fa-solid fa-check"></i>
    </label>

    <label for="espelho" class="box">
        <input type="radio" name="limpador_espelho" id="espelho" hidden disabled>
        <pre>Espelho</pre>
        <i class="fa-solid fa-check"></i>
    </label>
</div>
<!-- Embreagem / Caixa -->
<div id="div_embreagem_caixa" class="row h0">
    Qual?
    <label for="embreagem" class="box">
        <input type="radio" name="embreagem_caixa" id="embreagem" hidden checked disabled>
        <pre>Embreagem</pre>
        <i class="fa-solid fa-check"></i>
    </label>

    <label for="caixa" class="box">
        <input type="radio" name="embreagem_caixa" id="caixa" hidden disabled>
        <pre>Caixa</pre>
        <i class="fa-solid fa-check"></i>
    </label>
</div>
