<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="/static/js/global.js"></script>
    <link rel="stylesheet" href="/static/css/cco-informa.css">
    <script type="module" src="/static/js/font-awesome.js"></script>

</head>
<body>
    <header class="w100 row between">
        <h1 class="row">Histórico de eventos</h1>
        <div id="update-sheet" class="row">
            <span>99</span>
            <button class="row icons"><i class="fa-solid fa-arrows-rotate"></i></button>
        </div>
    </header>
    <section>
        <table border="1px">
            <thead>
                <tr>
                    <td class="_"></td>{% for letter in letters %}
                    <td class="{{ letter }}">{{ letter }}</td>{% endfor %}
                </tr>
                <tr>
                    <td class="_">1</td>{% for col in cols %}
                    <td class="{{ letters[loop.index] }}">{{ col }}</td>{% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr><td>2</td><td>Adryan</td><td>155</td></tr>
                <tr><td>3</td><td>Maikel</td><td>165</td></tr>
            </tbody>
        </table>
    </section>
    <footer>

    </footer>
    <div id="header-sheet" >
        
    </div>
</body>
</html>