<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="/static/js/global.js"></script>
    <link rel="stylesheet" href="/static/css/cco-informa.css">
    <script type="module" src="/static/js/font-awesome.js"></script>
    <script type="module" src="/static/js/cco-informa.js"></script>

</head>
<body>
    <header class="w100 row between">
        <h1 class="row">Histórico de eventos</h1>
        <div id="update-sheet" class="row">
            <span>99</span>
            <button class="row icons"><i class="fa-solid fa-arrows-rotate"></i></button>
        </div>
    </header>
    <section>
        <table class="h100" border="1px">
            <thead>
                <tr class="letters">
                    <td class="_"></td>{% for letter in letters %}
                    <td class="{{ letter }}">{{ letter }}</td>{% endfor %}
                </tr>
                <tr class="columns">
                    <td class="_">1</td>{% for col in cols %}
                    <td class="{{ letters[loop.index - 1] }}">{{ col }}</td>{% endfor %}
                </tr>
            </thead>
            <tbody>{% for row in rows %}
                <tr id="row-{{ row[0] }}" lcass="{{ loop.cycle('even', 'odd') }}">{% for cell in row %}
                    <td class="{{ '_' if loop.first else letters[loop.index - 2] }}">
                        {% if loop.first %}{{ cell }}{% else %} <textarea id="cell-{{ letters[loop.index - 2] }}{{ row[0] }}" disabled autocomplete="off">{{ cell }}</textarea> {% endif %}
                    </td>{% endfor %}
                </tr>{% endfor %}
            </tbody>
        </table>
    </section>
    <footer>

    </footer>
    <div id="header-sheet" >
        
    </div>
</body>
</html>