<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="/static/js/global.js"></script>
    <link rel="stylesheet" href="/static/css/cco-informa.css">
    <script type="module" src="/static/js/font-awesome.js"></script>
    <script type="module" src="/static/js/cco-informa.js"></script>

</head>
<body>
    <header class="w100 row between">
        <!-- <div id="configurations-table" class="a">
            <div class="row">
                <span>Cores</span>
            </div>
            <div class="row">
                <label for="color-header">
                    Header<input type="color" name="color-header" id="color-header" value="#ffffff">
                </label>
            </div>
            <button id="div-config-table" class="a row icons toggle">
                <i class="fa-solid fa-gear x"></i>
                <i class="fa-solid fa-xmark v"></i>
            </button>
        </div> -->
        <h1 class="r row">Histórico de eventos</h1>

        <div id="actions-row" class="a col">
            <div class="r row">
                <button class="row icons" id="confirm-editing"><i class="fa-solid fa-paper-plane"></i></button>
                <button class="row icons" id="cancel-editing"><i class="fa-solid fa-ban"></i></button>
            </div>
            <div class="r row">
                <button class="row icons"><i class="fa-solid fa-pencil"></i></button>
                <button class="row icons" id="del-row"><i class="fa-solid fa-trash-can"></i></button>
            </div>
        </div>


        <div id="update-sheet" class="row">
            <span>99</span>
            <button class="row icons"><i class="fa-solid fa-arrows-rotate"></i></button>
        </div>
    </header>
    <section>
        <table class="h100" border="1px">
            <thead>
                <tr class="letters">
                    <td class="_"></td>{% for letter in letters %}
                    <td class="{{ letter }}">{{ letter }}</td>{% endfor %}
                </tr>
                <tr class="columns">
                    <td class="_">1</td>{% for col in cols %}
                    <td class="{{ letters[loop.index - 1] }}">{{ col }}</td>{% endfor %}
                </tr>
            </thead>
            <tbody>{% for row in rows %}
                <tr id="row-{{ row[0] }}" class="{{ loop.cycle('even', 'odd') }}">{% for cell in row %}
                    <td class="{{ '_' if loop.first else letters[loop.index - 2] }}">
                        {% if loop.first %}{{ cell }}{% else %} <textarea id="cell-{{ letters[loop.index - 2] }}{{ row[0] }}" disabled autocomplete="off">{{ cell }}</textarea> {% endif %}
                    </td>{% endfor %}
                </tr>{% endfor %}
            </tbody>
        </table>
    </section>
    <footer>

    </footer>
    <div id="header-sheet" >
        
    </div>
</body>
</html>