<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informa</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/global.js"></script>
    <script type="module" src="/static/js/font-awesome.js"></script>
    <script src="/static/js/index.js" defer></script>
</head>
<body>
    <header>
        <h1>*CCO Informa*</h1>
        <figure>
            <img src="/static/img/mob.png" alt="imagem contendo a log da empresa mob, contendo as letras M O B em italico e dois traços em cima e em baixo.">
        </figure>
    </header>
    <main>
        <section>
            <h2>*CCO Informa*</h2>
            <div id="overlay"></div>
            <iframe src="" frameborder="0"></iframe>
        </section>
    </main>
    <footer>
        <address>Adryan Maikel</address>
    </footer>
</body>
</html>