<!DOCTYPE html>
<html lang="pt-br">
<head><style>*,#overlay.hidden{cursor: url("/static/assets/normal.cur"), auto}#overlay{cursor: none}</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informa</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script type="module" src="/static/js/global.js"></script>
    <script type="module" src="/static/js/font-awesome.js"></script>
    <script src="/static/js/index.js" defer></script>
</head>
<body>
    <header class="w100 row between">
        <div class="row">
            <figure>
                <img src="../static/img/mob.png" class="wh100" alt="imagem contendo a log da empresa mob, contendo as letras M O B em italico e dois traços em cima e em baixo.">
            </figure>
            <h1>*CCO Informa*</h1>
        </div>
        <div class="a row" id="login">
            <label for="operator">
                <span>Operador</span>
                <input type="text" name="operator" id="operator" autocomplete="off" disabled>
            </label>
            <label for="password">
                <span>Senha</span>
                <input type="password" name="password" id="password" autocomplete="off" disabled>
            </label>

            <button class="row icons" id="submit-login" disabled>
                <i class="fa-solid fa-check v"></i>
            </button>

            <button class="row icons" id="cancel-login" disabled>
                <i class="fa-solid fa-ban"></i>
            </button>
        </div>
        <div class="row buttons">
            <button id="user" class="row icons r toggle">
                <i class="fa-solid fa-user-xmark x"></i>
                <i class="fa-solid fa-user-check v"></i>
            </button>
            <button id="config-open" class="row icons">
                <i class="fa-solid fa-gear"></i>
            </button>
        </div>
    </header>
    <main>
        <section class="r border-1px">
            <h2 class="d-none">*CCO Informa*</h2>
            <div id="overlay" class="a wh100"></div>
            <div id="menu-config" class="border-1px">
                <div class="row between">
                    <h3>Configurações</h3>
                    <button id="config-close" class="row icons"><i class="fa-solid fa-xmark x"></i></button>
                </div>
            </div>
            <iframe src="/erro" class="wh100"></iframe>
        </section>
    </main>
    <footer class="row">
        <address>&copy; Adryan Maikel</address>
    </footer>
</body>
</html>